In [6]:
import pandas as pd
from sentence_transformers import SentenceTransformer

In [ ]:
random_seed = 777
device = torch.device('cuda:0' if torch.cuda.is_available() else 'cpu')
print(device)

In [2]:
df = pd.read_csv('17SDGpt2_tweets.csv', lineterminator='\n', index_col = 0)

In [3]:
df

                                                    tweet  sdg  tweet_len
0       our spousal sponsorship application sent to th...   16        147
1       Star Wars The Vintage Collection VC186 Boba Fe...   16        148
2       CDS is hiring a Team Lead for our Delivery Pol...   16        246
3       @JonathanTurley Was watching him on @AlisynCam...   16        135
4       @chasestrangio @TheElliotPage As written, xiv ...   16        303
...                                                   ...  ...        ...
162355  @stokiein @Anna_Soubry @mrjamesob @BorisJohnso...   17        267
162356  To be  a guest for what ? How to smoke crack!o...   17        235
162357  MBA Alumni Association announces an official c...   17        210
162358  They're feeling it as far away as Australia.\n...   17        279
162359  @dannynoonan6969 @SarahJo23672889 @TucsonZia @...   17        337

[162360 rows x 3 columns]

In [ ]:
model = SentenceTransformer('bert-base-nli-mean-tokens')

  0%|          | 0.00/405M [00:00<?, ?B/s]